*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.homepage_heading1{
    font-size: 80px;
    /* font-family: Inter; */
    font-family: 'Baloo Bhai 2', cursive;
    font-style: regular;
}
.homecontainer{
    /* padding: 10px; */
    /* border: 4px solid rgb(245, 157, 43); */
    box-sizing: border-box;
    overflow-x: hidden
}
.instaimg {
    position: absolute; 
     top: 12.5rem;
     left: 0.7rem;
    /* background-color:blue;
    height: 10%;
    width: 3%; */
}
.instaimg img{
    height: 2.5rem;
    width: 3rem;
}

.line1{
    position: absolute;
    margin-top: 1rem;
    margin-left: 2.2rem;
    border-left: 2px solid #ffff;
     height: 156px;
}
.homecontainer{
    width: 100vw;
    height: 100vh;

}
.euphonylogo{
    height: 10rem;
    width: 6rem;
    padding: 2px;
    /* background-color: red; */
    overflow: hidden;
}
.euphonylogo img{
    height: 80%;
    width: 60%;
    object-fit: cover;
}

/* .logoEu{
    height: 20%;
    width: 10%;
} */
#homepage_heading1{
    color: #ffff;
}
#homepage_heading2{
    color: #ffff;
}
.homeUpperdiv{
    /* position: relative; */
    padding-bottom: 1rem;
    background-color: #212121;
    /* display: flex;
    flex-direction: column; */
}
.uppercentercontent{
    display: flex;
    padding-top: 2rem;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .line1{
    position: absolute;
} */
/* .instaimg{
    position: absolute;
} */



/* lower div worl */

.homelowerdiv{
    
    background-color: #101010;
    padding-bottom: 5rem;
}
.para{
    width: 70%;
    color: #ffff;
}
.line2{
    position: absolute;
    margin-top: 5.5rem;
    margin-left: 2.2rem;
    border-left: 2px solid #ffff;
     height: 156px;
}
.paraflex_container{
    display: flex;
    justify-content: center;
    align-items:center;
}
.youtubeimg {
    position: absolute; 
     top: 17.5rem;
     left: 0.7rem;  
}
.youtubeimg img{
    height: 2.5rem;
    width: 3rem;
}
#register_but{
    width: 15rem;
    height: 3rem;
    font-weight: bold;
    letter-spacing: 0.075rem;
    font-size: 1.3rem;
    margin-top: 2rem;
    border: none;
    border-radius: 20px;
}
#register_but:hover{
    cursor: pointer;
    background: #212121;
    color: white;
    border: 2px solid white;
}


.homepage_reverbimg img{
    height: 20rem;
    width: 40rem;
    margin-top: -5rem;
}
.down-arrow{
    margin-top: -4rem;
    margin-bottom: 2rem;
}
.down-arrow img{
    height: 3rem;
    width: 3rem;
    /* position: absolute;
    top: 26rem;
    left: 41.2rem; */
}
